<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>發生錯誤 - 樂達創意科技</title>
		<link rel="icon" href="{{url_for('static', filename='logo/logo.ico')}}" type="image/x-icon">
		<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}?ver=0.1">
	</head>
	<body>
		<h1>500 - 發生錯誤</h1>
		<p>發生了一些無法預測的錯誤。</p>
		<p>麻煩請通知樂達創意科技，我們將會盡速為您將錯誤排除。</p>
		<a href="javascript:history.back()"><button>返回</button></a>
		<a href="/"><button>前往首頁</button></a>
		<a href="mailto: leda-support@leda-creative.com"><button>聯絡樂達</button></a>
		<a href="https://www.leda-creative.com/" target="_blank"><button>了解樂達</button></a>
	</body>
</html>

